body {
    font-family: 'Calibri', sans-serif;
    color: white;
    background-image: url("./stars.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
}

#all {
    max-width: 70%;
    margin: auto;
}

#explain {
    font-size: 1.2em;
}

h1 {
    margin-bottom: -1.5%;
}

#date {
    margin-bottom: 0.75%;
    display: inline;
}

input {
    padding: .5%;
    display: inline;
    position: relative;
    left: 30%
}

form {
    display: inline;
}

#title {
    display: inline;
}